.vs/
Debug/
TurnBasedAICPP.sln
TurnBasedAICPP/0
TurnBasedAICPP/output
TurnBasedAICPP/Debug/
TurnBasedAICPP/TurnBasedAICPP.vcxproj
TurnBasedAICPP/TurnBasedAICPP.vcxproj.user
TurnBasedAICPP/TurnBasedAICPP.vcxproj.filters